
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <p> <h1>Birthday Card Generador</h1></p>
     @*<a href="/home/SendForm"> Send Card </a>*@ 
    @Html.ActionLink("Send Card Now" , "SendForm")
</body>
</html>
