@model BirthdayCard.Models.BirthDayCardSend

@{
    Layout = null;
}

<!DOCTYPE html>

<h1>BirthDay Card Sent</h1>
<h2>From :  @Model.FromUser</h2>
<h3>From :  @Model.ToUser</h3>
<h4>Message: @Model.BCardMenssege</h4>
